<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-3">
      <app-keyboard-button name='AC' (click)="allClear()"></app-keyboard-button>
    </div>
    <div class="col-3">
      <app-keyboard-button name='+/-' (click)="negate()"></app-keyboard-button>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-3">
      <app-keyboard-button name='7' (click)="onNumberButtonClicked(7)"></app-keyboard-button>
      <app-keyboard-button name='4' (click)="onNumberButtonClicked(4)"></app-keyboard-button>
      <app-keyboard-button name='1' (click)="onNumberButtonClicked(1)"></app-keyboard-button>
      <app-keyboard-button name='0' (click)="onNumberButtonClicked(0)"></app-keyboard-button>
    </div>
    <div class="col-3">
      <app-keyboard-button name ='8' (click)="onNumberButtonClicked(8)"></app-keyboard-button>
      <app-keyboard-button name ='5' (click)="onNumberButtonClicked(5)"></app-keyboard-button>
      <app-keyboard-button name ='2' (click)="onNumberButtonClicked(2)"></app-keyboard-button>
      <app-keyboard-button name ='.' (click)="dot()"></app-keyboard-button>
    </div>
    <div class="col-3">
      <app-keyboard-button name ='9' (click)="onNumberButtonClicked(9)"></app-keyboard-button>
      <app-keyboard-button name ='6' (click)="onNumberButtonClicked(6)"></app-keyboard-button>
      <app-keyboard-button name ='3' (click)="onNumberButtonClicked(3)"></app-keyboard-button>
      <app-keyboard-button name ='=' (click)="calculate()"></app-keyboard-button>
    </div>
    <div class="col-3">
      <app-keyboard-button name ='÷' (click)="onSignButtonClicked('÷')"></app-keyboard-button>
      <app-keyboard-button name ='x' (click)="onSignButtonClicked('x')"></app-keyboard-button>
      <app-keyboard-button name ='-' (click)="onSignButtonClicked('-')"></app-keyboard-button>
      <app-keyboard-button name ='+' (click)="onSignButtonClicked('+')"></app-keyboard-button>
    </div>
  </div>
</div>





