<div class="container-fluid bg-secondary border border-dark rounded-lg shadow window-full">
  <div class="row">
      <div class="col-12">
        <app-history></app-history>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
        <app-display></app-display>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
        <hr>
      </div>
  </div>
  <div class="row pb-4">
    <div class="col-12">
      <app-keyboard></app-keyboard>
    </div>
  </div>
</div>


