<div class="container-fluid ">
    <div class=" list-group list-group-flush overflow-auto border border-dark rounded-lg mt-4 mb-4 scrollbar-light-blue">
      <div
        *ngFor='let message of history'
        class="list-group-item list-group-item-info"
      >
        {{message.text}}
      </div>
    </div>
</div>
